
.btn {
   margin: 10px auto;
   width: 50px;
   height: 20px;
   background-color: #f4fdfd;;
}
.malysh__block {
   margin: 50% auto;
    width: 60%;
}
.malysh {
  
   width: 100%;
   display: block;
}

.opacity {
   opacity: 0;
}